**CSC 365 - Winter 2026- Lab 1-1**

In [3]:
import pandas as pd
import numpy as np

**Name:** Cameron Hafer

**Cal Poly Email:** clhafer@calpoly.edu

In [ ]:
# NOTE: Questions on Q1, Q7

This Jupyter notebook loads a simple CSV file (performance of students from two schools in Portugal in a Mathematics course - see https://www.kaggle.com/datasets/whenamancodes/alcohol-effects-on-study?resource=download)  and contains 10 questions about the data in the file.   You are provided with one cell per question into which you can place any Python code you want in order to produce output that contains the answer to the question.  

A valid answer to the question is formed out of the information available in the loaded CSV file. Sometimes this information will be contained in one or more rows of the CSV files directly. Sometimes you may need to perform certain computations with the data found in the CSV file in order to answer the question.

In [4]:
## loading the data


df = pd.read_csv("Maths.csv")   ## pandas data frame with the data

df['Id'] = df.index

data = np.array(df)          ## numPy array with the data

dl = [list(x) for x in data] ## List of lists with the data

columns = list(df.columns)   ## list of column names - in the order of columns in both the Pandas data frame and the NumPy array

The data is provided to you in three forms:

1. `pandas` data frame.  `pandas` is a Python package for dealing with tabular data that includes a lot of functionality that is similar to that of relational database which we will be studying in this course.  A data frame is a Python data structure for storing two-dimentional tabular data.  If you know how to work with `pandas` data frames - feel free to use `pandas` functionality.

2. `numPy` array. `numPy` is a Python package primarily used for dealing with multi-dimensional arrays of data. A CSV file can be stored as a two-dimensional `numPy` array in a natural way, and a 2-dimensional `numPy` array is essentially a Python list or Python lists. `numPy` provides a lot of functionality for working with arrays.

3. Python's list of lists. This is the most basic Python structure that does not rely on functionality from any specific Python package. Each row of the CSV file is one element of the list. The element itself is a list containing values of individual cells in the row.

Here is what the `pandas` data frame looks like:

In [3]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Id
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,2
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,3
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,390
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,391
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,392
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,0,11,12,10,393
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,394

Here is the `numPy` array:

In [4]:
data

array([['GP', 'F', 18, ..., 6, 6, 0],
       ['GP', 'F', 17, ..., 5, 6, 1],
       ['GP', 'F', 15, ..., 8, 10, 2],
       ...,
       ['MS', 'M', 21, ..., 8, 7, 392],
       ['MS', 'M', 18, ..., 12, 10, 393],
       ['MS', 'M', 19, ..., 9, 9, 394]], dtype=object)

And here is the Python list (we are displaying only the first four rows here):

In [5]:
dl[0:3]

[['GP',
  'F',
  18,
  'U',
  'GT3',
  'A',
  4,
  4,
  'at_home',
  'teacher',
  'course',
  'mother',
  2,
  2,
  0,
  'yes',
  'no',
  'no',
  'no',
  'yes',
  'yes',
  'no',
  'no',
  4,
  3,
  4,
  1,
  1,
  3,
  6,
  5,
  6,
  6,
  0],
 ['GP',
  'F',
  17,
  'U',
  'GT3',
  'T',
  1,
  1,
  'at_home',
  'other',
  'course',
  'father',
  1,
  2,
  0,
  'no',
  'yes',
  'no',
  'no',
  'no',
  'yes',
  'yes',
  'no',
  5,
  3,
  3,
  1,
  1,
  3,
  4,
  5,
  5,
  6,
  1],
 ['GP',
  'F',
  15,
  'U',
  'LE3',
  'T',
  1,
  1,
  'at_home',
  'other',
  'other',
  'mother',
  1,
  2,
  3,
  'yes',
  'no',
  'yes',
  'no',
  'yes',
  'yes',
  'yes',
  'no',
  4,
  3,
  2,
  2,
  3,
  3,
  10,
  7,
  8,
  10,
  2]]

Additionally, the variable `columns` contains the list of column names for the data:

In [6]:
columns

['school',
 'sex',
 'age',
 'address',
 'famsize',
 'Pstatus',
 'Medu',
 'Fedu',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'traveltime',
 'studytime',
 'failures',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic',
 'famrel',
 'freetime',
 'goout',
 'Dalc',
 'Walc',
 'health',
 'absences',
 'G1',
 'G2',
 'G3',
 'Id']

**Please read the  description of the columns before proceeding with the rest of the lab assignment**: https://www.kaggle.com/datasets/whenamancodes/alcohol-effects-on-study?resource=download

To this list, we added one more column, `"Id"` to represent the unique identifier of each student. This is the last column in the data frame (and thus, also the last value in each row of the array and the list).

To answer the questions below you can use any of the data representations (data frame, array, list) provided to you.  Your output should be presented in a readable form that makes it clear what you are reporting (if you are working with lists, please engage in come pretty printing. data frames can be presented as-is. for arrays - look at what the output looks like, and if it is messy, pretty print as well).

**NOTE:** All questions MUST be answered **in isolation**. That is, you cannot reuse any variables computed when answering one question to answer another question. Instead - **you can reuse the code** (basically, I should be able to copy a full cell answering a question into an empty notebook and have it produce correct result).

**Question 1:**
Report the current health status for all 20-year old students from Gabriel Pereira ('GP') high school who are in a romantic relationship (report the student Id and their health status).

In [ ]:
### Your code goes here
q1_df = df.copy()
q1_df = q1_df[q1_df["age"] == 20]
q1_df = q1_df[q1_df["school"] == "GP"]
# q1_df = q1_df[q1_df["romantic"] == "yes"]

# does not work if romantic == "yes"
q1_df[["health", "Id", "romantic"]]

     health   Id romantic
306       5  306       no

In [7]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'Id'],
      dtype='object')

In [19]:
df["romantic"].unique()

array(['no', 'yes'], dtype=object)

**Question 2:** Determine if there are more 18-year old male or female students who consume significant amounts of alcohol (4 or above) on the weekdays. Report both the number of male and female students.

In [ ]:
### Your code goes here
male_df = df[df["sex"] == "M"]
male_df = male_df[male_df["Dalc"] > 3]

female_df = df[df["sex"] == "F"]
female_df = female_df[female_df["Dalc"] > 3]

print("# of males:", male_df.shape[0])
print("# of feamles:", female_df.shape[0])

# of males: 15
# of feamles: 3

**Question 3:** Find the highest total score a student from _Gabriel Pereira_ school received in their math class (add up _G1_, _G2_, and _G3_ scores). Report the score and the record ID.

In [38]:
### Your code goes here
highscore_df = df.copy()
highscore_df["total_score"] = highscore_df[["G1", "G2", "G3"]].sum(axis=1)
highscore_df = highscore_df[highscore_df["school"] == "GP"]

highscore_df = highscore_df.sort_values("total_score", ascending=False).iloc[[0]]
highscore_df[["total_score", "Id"]]

    total_score  Id
47           58  47

**Question 4** Find all the students from  _Gabriel Pereira_ High School who had the top 10% highest score (sum of G1, G2 and G3) in their math class. Report their Ids, the G1, G2, and G3 scores, and their weekend and weekday alcohol consumption.

In [43]:
### Your code goes here
q4_df = df.copy()
q4_df["total_score"] = q4_df[["G1", "G2", "G3"]].sum(axis=1)
q4_df = q4_df[q4_df["school"] == "GP"]

cutoff = q4_df["total_score"].quantile(0.9)
top_10pct = q4_df[q4_df["total_score"] >= cutoff]

top_10pct[["Id", "G1", "G2", "G3", "Walc", "Dalc"]]

      Id  G1  G2  G3  Walc  Dalc
8      8  16  18  19     1     1
14    14  14  16  16     1     1
22    22  15  15  16     3     1
27    27  15  16  15     4     2
31    31  17  16  17     1     1
32    32  17  16  16     1     1
36    36  15  16  18     1     1
37    37  15  16  15     1     1
42    42  19  18  18     1     1
47    47  19  19  20     1     1
59    59  15  16  16     1     1
65    65  16  15  15     2     1
69    69  16  16  16     3     2
91    91  16  17  18     3     1
101  101  16  17  17     1     1
104  104  16  18  18     1     1
107  107  16  18  18     1     1
110  110  18  19  19     1     1
113  113  18  19  19     1     1
115  115  15  15  16     2     1
120  120  16  15  15     2     1
129  129  18  18  18     5     2
139  139  16  16  15     1     1
158  158  17  15  15     2     1
182  182  16  17  17     3     2
196  196  17  15  16     2     1
198  198  18  18  18     3     2
200  200  16  16  16     5     1
222  222  16  16  17     1     1
226  226  16  15  15     3     1
245  245  18  18  18     1     1
260  260  17  18  18     3     1
265  265  17  17  17     4     3
286  286  18  18  19     2     1
293  293  18  18  18     1     1
299  299  16  15  16     2     2
303  303  17  17  18     2     1
306  306  17  18  18     1     1
324  324  16  15  15     3     2
335  335  16  15  15     3     1
338  338  16  15  17     1     1
342  342  16  15  15     3     1
346  346  16  15  16     2     1

**Question 5:** Compare the average performance of female students who are engaged in extra curricular activities at _Gabriel Pereira_ and _Mousinho da Silveira_ schools in the math class (the G3 score). Report the full name (_Gabriel Pereira_ or _Mousinho da Silveira_) of the school with the higher average performance.

In [56]:
### Your code goes here
q5_df = df.copy()
q5_df = q5_df[q5_df["sex"] == "F"]

gp_df = q5_df[q5_df["school"] == "GP"]
ms_df = q5_df[q5_df["school"] == "MS"]

gp_avg = gp_df["G3"].mean()
ms_avg = ms_df["G3"].mean()

print("GP average score: ", round(gp_avg, 2))
print("MS average score: ", ms_avg)
print('\nGP had the higher average scores on G3')

GP average score:  9.97
MS average score:  9.92

GP had the higher average scores on G3

**Question 6:** Break the students into two categories by whether or not they are in a romantic relationship. For each group report (a) the number of students in the group, (b) the average math score (G3). Report the groups in descending order by the average score. (your output should contain two rows, and three values in each row: "yes" or "no" for relationship status, the number of students, and the average score).

In [70]:
### Your code goes here
norel_df = df[df["romantic"] == "no"]
yesrel_df = df[df["romantic"] == "yes"]

q6_result = pd.DataFrame({
    "romantic" : ["yes", "no"],
    "num_student" : [yesrel_df.shape[0], norel_df.shape[0]],
    "avg_score" : [round(yesrel_df["G3"].mean(), 2), round(norel_df["G3"].mean(), 2)]
})

q6_result

  romantic  num_student  avg_score
0      yes          132       9.58
1       no          263      10.84

**Question 7:** Find the percent of male and female students in each school that consume considerable quantities of alcohol (value of 3 or above) _both_ on weekends and weekdays.
(your output shall consist of four rows of data).

In [89]:
### Your code goes here
q7_df = df.copy()

female_df = q7_df[q7_df["sex"] == "F"]
male_df = q7_df[q7_df["sex"] == "M"]

female_gp_df = female_df[female_df["school"] == "GP"]
female_ms_df = female_df[female_df["school"] == "MS"]

male_gp_df = male_df[male_df["school"] == "GP"]
male_ms_df = male_df[male_df["school"] == "MS"]

female_GP_dalc = round((female_gp_df[female_gp_df["Dalc"] > 2].shape[0] / q7_df.shape[0]) * 100, 2)
female_MS_dalc = round((female_ms_df[female_ms_df["Dalc"] > 2].shape[0] / q7_df.shape[0]) * 100, 2)
female_GP_walc = round((female_gp_df[female_gp_df["Walc"] > 2].shape[0] / q7_df.shape[0]) * 100, 2)
female_MS_walc = round((female_ms_df[female_ms_df["Walc"] > 2].shape[0] / q7_df.shape[0]) * 100, 2)

male_GP_dalc = round((male_gp_df[male_gp_df["Dalc"] > 2].shape[0] / q7_df.shape[0]) * 100, 2)
male_MS_dalc = round((male_ms_df[male_ms_df["Dalc"] > 2].shape[0] / q7_df.shape[0]) * 100, 2)
male_GP_walc = round((male_gp_df[male_gp_df["Walc"] > 2].shape[0] / q7_df.shape[0]) * 100, 2)
male_MS_walc = round((male_ms_df[male_ms_df["Walc"] > 2].shape[0] / q7_df.shape[0]) * 100, 2)


result_q7 = pd.DataFrame({
    "sex" : ["Male", "Male", "Female", "Female"],
    "school" : ["GP", "MS", "GP", "MS"],
    "Dalc %" : [male_GP_dalc, male_MS_dalc, female_GP_dalc, female_MS_dalc],
    "Walc %" : [male_GP_walc, male_MS_walc, female_GP_walc, female_MS_walc]
})

result_q7

      sex school  Dalc %  Walc %
0    Male     GP    6.84   19.75
1    Male     MS    2.28    4.56
2  Female     GP    1.52   14.43
3  Female     MS    0.51    1.52

In [ ]:
# should it be both??
mask = (df["Dalc"] >= 3) & (df["Walc"] >= 3)

result_q7 = (df.assign(considerable=mask)
               .groupby(["school", "sex"])["considerable"]
               .mean()
               .mul(100)
               .round(2)
               .reset_index(name="percent_both"))

result_q7

  school sex  percent_both
0     GP   F          3.28
1     GP   M         15.66
2     MS   F          4.00
3     MS   M         42.86

**Question 8:**  Find who reports better health on average - students with high math scores (16 or above), or students with low math scores.  Report the two averages.

In [101]:
### Your code goes here
q8_df = df.copy()

highmath_df = q8_df[q8_df["G3"] > 15]
lowmath_df = q8_df[q8_df["G3"] <= 15]

print("Health average, high math: ", round(highmath_df["health"].mean(), 2))
print("Health average, low math: ", round(lowmath_df["health"].mean(), 2))
print("\nLow math has a higher health avg.")

Health average, high math:  3.3
Health average, low math:  3.58

Low math has a higher health avg.

**Question 9:** Find whether the **percentage** of students with high consumption of alcohol (>=4 either on weekend or weekday) is higher among the students whose parents live together or separately (the "Pstatus" column).  Report the status with the higher percentage and the percentage itself.

In [ ]:
### Your code goes here

**Question 10:** List the average alcohol consumption level (average between their weekend and weekday consumption) for each student with the highest G3 score in the class. Your output shall contain two values in each row: the Id of the student and their average alcohol consumption level.

In [ ]:
### Your code goes here

**Congratulations!**

You are done!

To submit your work, upload the .ipynb file to Canvas for the Lab 1-1 assignment.